.first_section {
	display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
      width: 100%;


}

/* Small top-left box */
.item1 {
  /* height: 100px; */
}

/* Tall top-right box */
.item2 {
  grid-row: span 2;
      /* height: 220px; */
}

/* Tall bottom-left box */
.item3 {
  grid-row: span 2;
}

/* Small bottom-right box */
.item4 {
  /* height: 00px; */
}
